#s-005d22e3-95ea-404f-bd8e-019da3317b2c > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_1 {
position: absolute;
top: 176px;
left: 314px;
width: 265px;
height: 35px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 7px 7px 7px 7px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_2 {
position: absolute;
top: 176px;
left: 830px;
width: 265px;
height: 35px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 7px 7px 7px 7px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_2 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_2 span#rtr-s-Button_2_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Image_1 {
position: absolute;
top: 384px;
left: 482px;
width: 442px;
height: 200px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}