#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 7px 7px 7px 7px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
width: 265px;
height: 35px;
-pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Button_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 7px 7px 7px 7px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 4px;
width: 265px;
height: 35px;
-pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-005d22e3-95ea-404f-bd8e-019da3317b2c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}