#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Callout_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}