#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}