#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Callout_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}