#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Image_1 {
position: absolute;
top: 197px;
left: 455px;
width: 497px;
height: 541px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 {
position: absolute;
top: 136px;
left: 539px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Callout_1 .shapert-clipping {
left: 132px;
top: 0px;
width: 180px;
height: 112px;
position: absolute;
overflow: hidden;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Callout_1 .content {
width: 180px;
height: 112px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Callout_1 {
position: absolute;
top: 236px;
left: 1003px;
width: 312px;
height: 181px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #shapewrapper-s-Callout_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #shapewrapper-s-Callout_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_2 {
position: absolute;
top: 757px;
left: 683px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 #s-Text_2 span#rtr-s-Text_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-0741b213-55dc-4884-a7d8-83bfcdef9df6 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}