#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}