#s-0bce616d-20f7-4caa-b337-6dcdb11e298b > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Text_1 {
position: absolute;
top: 112px;
left: 161px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 {
position: absolute;
top: 172px;
left: 161px;
width: 451px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
color: #0000FF;
text-align: left;
text-decoration: underline;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-0bce616d-20f7-4caa-b337-6dcdb11e298b > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}