#s-0c313c9e-b3fc-4b82-8f6e-5f35b55440c6 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-0c313c9e-b3fc-4b82-8f6e-5f35b55440c6 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-0c313c9e-b3fc-4b82-8f6e-5f35b55440c6 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}