#s-14022732-b1d2-4fbc-9b69-89da7a2cf05e #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-14022732-b1d2-4fbc-9b69-89da7a2cf05e #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-14022732-b1d2-4fbc-9b69-89da7a2cf05e #s-Ellipse_13 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-14022732-b1d2-4fbc-9b69-89da7a2cf05e #s-Ellipse_18 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-14022732-b1d2-4fbc-9b69-89da7a2cf05e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}