#s-17a683b3-7b3b-4762-866c-f03dcc60517e > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Text_1 {
position: absolute;
top: 36px;
left: 544px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Button_1 {
position: absolute;
top: 36px;
left: 136px;
width: 62px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Paragraph_1 {
position: absolute;
top: 88px;
left: 152px;
width: 1202px;
height: 53px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Category_1 td {
vertical-align: top;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e #s-Category_1 {
position: absolute;
top: 152px;
left: 122px;
width: 1210px;
height: 568px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #DDDDDD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #DDDDDD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #DDDDDD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #DDDDDD;
box-shadow: none;
text-shadow: none;
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-17a683b3-7b3b-4762-866c-f03dcc60517e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}