#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Rectangle_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 {
-ms-transform: rotate(0.0deg);
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}