#s-1cd00dca-b59d-48f1-be5a-86603599dd23 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Rectangle_1 {
position: absolute;
top: 231px;
left: 381px;
width: 661px;
height: 333px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Rectangle_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Text_1 {
position: absolute;
top: 238px;
left: 487px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 {
position: absolute;
top: 295px;
left: 408px;
width: 589px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
color: #0000FF;
text-align: left;
text-decoration: underline;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}