#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 #s-Paragraph_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-1cd00dca-b59d-48f1-be5a-86603599dd23 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}