#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Callout_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 102px;
height: 23px;
-pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 137px;
height: 23px;
-ms-transform: rotate(0.0deg);
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}