#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Image_1 {
position: absolute;
top: 200px;
left: 470px;
width: 497px;
height: 541px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_1 {
position: absolute;
top: 131px;
left: 530px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Callout_1 .shapert-clipping {
left: 132px;
top: 0px;
width: 180px;
height: 112px;
position: absolute;
overflow: hidden;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Callout_1 .content {
width: 180px;
height: 112px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Callout_1 {
position: absolute;
top: 236px;
left: 1003px;
width: 312px;
height: 181px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #shapewrapper-s-Callout_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #shapewrapper-s-Callout_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_2 {
position: absolute;
top: 755px;
left: 698px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_2 span#rtr-s-Text_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_1 {
position: absolute;
top: 830px;
left: 662px;
width: 102px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}