#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Callout_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb #s-Button_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-24971fda-e2c0-4f56-9c0d-13c6b2491bbb > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}