#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_11 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_12 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_13 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_14 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_15 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_16 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_17 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_18 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_19 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a #s-Ellipse_20 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-3683a3cd-9ec3-41bb-8762-d2a55fa58d0a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}