#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 {
position: absolute;
top: 100px;
left: 552px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Image_1 {
position: absolute;
top: 313px;
left: 437px;
width: 475px;
height: 240px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}