#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 {
position: absolute;
top: 100px;
left: 552px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Image_1 {
position: absolute;
top: 313px;
left: 437px;
width: 475px;
height: 240px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Button_1 {
position: absolute;
top: 723px;
left: 640px;
width: 62px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}