#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-46392db2-fb4d-4766-bf95-65e24d57bd29 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}