#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_11 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_12 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_13 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_14 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_15 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_16 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_17 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_18 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_19 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_20 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}