#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Text_1 {
position: absolute;
top: 70px;
left: 363px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Image_2 {
position: absolute;
top: 183px;
left: 411px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_11 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_11 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_11 {
position: absolute;
top: 183px;
left: 554px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_11 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_11 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_12 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_12 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_12 {
position: absolute;
top: 183px;
left: 487px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_12 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_12 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_13 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_13 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_13 {
position: absolute;
top: 210px;
left: 455px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_13 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_13 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_14 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_14 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_14 {
position: absolute;
top: 301px;
left: 405px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_14 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_14 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_15 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_15 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_15 {
position: absolute;
top: 282px;
left: 668px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_15 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_15 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_16 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_16 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_16 {
position: absolute;
top: 275px;
left: 708px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_16 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_16 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_17 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_17 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_17 {
position: absolute;
top: 183px;
left: 825px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_17 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_17 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_18 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_18 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_18 {
position: absolute;
top: 183px;
left: 892px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_18 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_18 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_19 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_19 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_19 {
position: absolute;
top: 218px;
left: 925px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_19 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_19 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_19 span#rtr-s-Ellipse_19_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_20 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_20 .content {
width: 41px;
height: 50px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_20 {
position: absolute;
top: 301px;
left: 970px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_20 .valign {
vertical-align: middle;
text-align: center;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_20 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #shapewrapper-s-Ellipse_20 span#rtr-s-Ellipse_20_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}