#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_11 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_12 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_13 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_14 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_15 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_16 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_17 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_18 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_19 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e #s-Ellipse_20 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-5ba579d0-3c7a-4868-9f5d-fdb0da98542e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}