#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}