#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Image_1 {
position: absolute;
top: 261px;
left: 414px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_1 {
position: absolute;
top: 133px;
left: 443px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_2 {
position: absolute;
top: 684px;
left: 537px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Text_2 span#rtr-s-Text_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df #s-Image_2 {
position: absolute;
top: 261px;
left: 833px;
width: 38px;
height: 43px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-71a6f0b3-a968-4e7c-a967-261e2b94e8df > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}