#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_13 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_18 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}