#s-7943a7a3-136d-431c-9c9f-bd214f696c55 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Text_1 {
position: absolute;
top: 72px;
left: 482px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Image_2 {
position: absolute;
top: 183px;
left: 411px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_13 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_13 .content {
width: 41px;
height: 50px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_13 {
position: absolute;
top: 210px;
left: 455px;
width: 41px;
height: 50px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #shapewrapper-s-Ellipse_13 .valign {
vertical-align: middle;
text-align: center;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #shapewrapper-s-Ellipse_13 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_18 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_18 .content {
width: 41px;
height: 50px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_18 {
position: absolute;
top: 183px;
left: 892px;
width: 41px;
height: 50px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #shapewrapper-s-Ellipse_18 .valign {
vertical-align: middle;
text-align: center;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #shapewrapper-s-Ellipse_18 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}