#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_13 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 #s-Ellipse_18 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-7943a7a3-136d-431c-9c9f-bd214f696c55 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}