#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Rectangle_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
filter: alpha(opacity=50) ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Button_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 #s-Ellipse_5 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-7d3ceec1-924f-40be-b65a-2bfd51461d15 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}