#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Text_1 {
position: absolute;
top: 65px;
left: 308px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Image_1 {
position: absolute;
top: 192px;
left: 438px;
width: 497px;
height: 541px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}