#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8d9c8de7-3f88-40d6-8f07-17b1c738dc62 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}