#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_4 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_3 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_5 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_6 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_8 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}