#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Image_2 {
position: absolute;
top: 293px;
left: 407px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Text_1 {
position: absolute;
top: 188px;
left: 450px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_1 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_1 .content {
width: 41px;
height: 51px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_1 {
position: absolute;
top: 293px;
left: 482px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_2 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_2 .content {
width: 41px;
height: 51px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_2 {
position: absolute;
top: 328px;
left: 450px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_2 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_4 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_4 .content {
width: 41px;
height: 51px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_4 {
position: absolute;
top: 293px;
left: 816px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_3 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_3 .content {
width: 41px;
height: 50px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_3 {
position: absolute;
top: 294px;
left: 545px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_3 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_3 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_5 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_5 .content {
width: 41px;
height: 50px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_5 {
position: absolute;
top: 410px;
left: 407px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_5 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_5 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_6 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_6 .content {
width: 41px;
height: 50px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_6 {
position: absolute;
top: 294px;
left: 888px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_6 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_6 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_7 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_7 .content {
width: 41px;
height: 50px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_7 {
position: absolute;
top: 315px;
left: 919px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_7 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_7 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_8 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_8 .content {
width: 41px;
height: 50px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Ellipse_8 {
position: absolute;
top: 410px;
left: 974px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_8 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_8 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Button_1 {
position: absolute;
top: 757px;
left: 1074px;
width: 267px;
height: 67px;
background-color: #000000;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 12px 12px 12px 12px;
padding-top: 6px;
padding-right: 6px;
padding-bottom: 6px;
padding-left: 6px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Button_1 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 #s-Button_1 span#rtr-s-Button_1_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-8ef34393-fe03-4246-9bba-93b6ea02ac48 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}