#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd > #backgroundBox {
background-color: #000000;
background-image: none;
position: absolute;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_1 {
position: absolute;
top: 221px;
left: 292px;
width: 323px;
height: 222px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 40px 40px 40px 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_2 {
position: absolute;
top: 228px;
left: 787px;
width: 323px;
height: 222px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 40px 40px 40px 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_2 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd #s-Button_2 span#rtr-s-Button_2_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-92e6eb09-7b00-43cf-bb40-b527f90df5cd > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}