#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Image_2 {
position: absolute;
top: 293px;
left: 407px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Text_1 {
position: absolute;
top: 188px;
left: 450px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_8 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_8 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_8 {
position: absolute;
top: 410px;
left: 974px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_8 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_8 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_9 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_9 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_9 {
position: absolute;
top: 327px;
left: 926px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_9 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_9 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_10 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_10 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_10 {
position: absolute;
top: 287px;
left: 893px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_10 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_10 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_11 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_11 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_11 {
position: absolute;
top: 287px;
left: 821px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_11 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_11 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_12 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_12 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_12 {
position: absolute;
top: 389px;
left: 707px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_12 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_12 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_13 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_13 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_13 {
position: absolute;
top: 389px;
left: 667px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_13 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_13 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_14 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_14 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_14 {
position: absolute;
top: 287px;
left: 547px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_14 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_14 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_15 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_15 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_15 {
position: absolute;
top: 287px;
left: 479px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_15 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_15 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_16 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_16 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_16 {
position: absolute;
top: 327px;
left: 450px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_16 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_16 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_17 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 50px;
position: absolute;
overflow: hidden;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_17 .content {
width: 41px;
height: 50px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_17 {
position: absolute;
top: 410px;
left: 407px;
width: 41px;
height: 50px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_17 .valign {
vertical-align: middle;
text-align: center;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_17 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}