#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_8 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_9 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_10 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_11 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_12 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_13 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_14 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_15 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_16 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc #s-Ellipse_17 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-a728a01f-0cac-4a8e-9f25-a17f858cfefc > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}