#s-b3b84479-92b1-45c3-a3f1-cbc986288f60 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-b3b84479-92b1-45c3-a3f1-cbc986288f60 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-b3b84479-92b1-45c3-a3f1-cbc986288f60 #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-b3b84479-92b1-45c3-a3f1-cbc986288f60 #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-b3b84479-92b1-45c3-a3f1-cbc986288f60 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}