#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 > #backgroundBox {
background-color: #1E01A5;
background-image: none;
position: absolute;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Text_1 {
position: absolute;
top: 204px;
left: 508px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 28.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Text_1 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 28.0pt;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Text_1 span#rtr-s-Text_1_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 28.0pt;
line-height: 0px;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Button_1 {
position: absolute;
top: 98px;
left: 1264px;
width: 62px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-c5fe8372-62a4-4724-a32f-9865d60f4d97 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}