#s-c83341dd-3c46-4423-a898-74428420d5d7 #s-Image_2 {
-ms-transform: rotate(0.0deg);
}
#s-c83341dd-3c46-4423-a898-74428420d5d7 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-c83341dd-3c46-4423-a898-74428420d5d7 #s-Button_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 168px;
height: 23px;
-pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-c83341dd-3c46-4423-a898-74428420d5d7 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}