#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 137px;
height: 23px;
-ms-transform: rotate(0.0deg);
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 137px;
height: 23px;
-ms-transform: rotate(0.0deg);
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_3 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
width: 137px;
height: 23px;
-ms-transform: rotate(0.0deg);
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_4 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 11px 11px 11px 11px;
padding-top: 6px;
padding-right: 6px;
padding-bottom: 6px;
padding-left: 6px;
width: 275px;
height: 56px;
-pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
-pie-poll: false;
-ms-transform: rotate(0.0deg);
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}