#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Text_1 {
position: absolute;
top: 73px;
left: 407px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Image_1 {
position: absolute;
top: 168px;
left: 448px;
width: 497px;
height: 541px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_1 {
position: absolute;
top: 238px;
left: 1118px;
width: 137px;
height: 23px;
background-color: #000000;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_1 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_1 span#rtr-s-Button_1_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_2 {
position: absolute;
top: 279px;
left: 1118px;
width: 137px;
height: 23px;
background-color: #000000;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_2 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_2 span#rtr-s-Button_2_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_3 {
position: absolute;
top: 322px;
left: 1118px;
width: 137px;
height: 23px;
background-color: #000000;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_3 .valign {
vertical-align: middle;
text-align: center;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_3 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_3 span#rtr-s-Button_3_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_4 {
position: absolute;
top: 770px;
left: 998px;
width: 275px;
height: 56px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 11px 11px 11px 11px;
padding-top: 6px;
padding-right: 6px;
padding-bottom: 6px;
padding-left: 6px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_4 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c #s-Button_4 span#rtr-s-Button_4_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-c8ed09e6-75e0-4089-9373-9c35ecb8120c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}