#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_4 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_5 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_6 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_7 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_8 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Paragraph_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_1 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_9 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_10 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_11 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_12 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_13 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_2 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}