#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Image_1 {
position: absolute;
top: 242px;
left: 389px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_4 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_4 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_4 {
position: absolute;
top: 242px;
left: 531px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_5 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_5 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_5 {
position: absolute;
top: 242px;
left: 873px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_5 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_5 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_6 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_6 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_6 {
position: absolute;
top: 242px;
left: 800px;
width: 41px;
height: 51px;
background-color: #00FF00;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_6 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_6 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_7 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_7 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_7 {
position: absolute;
top: 242px;
left: 462px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_7 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_7 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_8 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_8 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_8 {
position: absolute;
top: 275px;
left: 434px;
width: 41px;
height: 51px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_8 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_8 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Paragraph_1 {
position: absolute;
top: 100px;
left: 336px;
width: 393px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Text_1 {
position: absolute;
top: 36px;
left: 544px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Button_1 {
position: absolute;
top: 36px;
left: 136px;
width: 62px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_1 .shapert-clipping {
left: 171px;
top: 0px;
width: 179px;
height: 112px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_1 .content {
width: 179px;
height: 112px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_1 {
position: absolute;
top: 100px;
left: 894px;
width: 351px;
height: 163px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Callout_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Callout_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_9 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_9 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_9 {
position: absolute;
top: 356px;
left: 389px;
width: 41px;
height: 51px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_9 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_9 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_10 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_10 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_10 {
position: absolute;
top: 334px;
left: 648px;
width: 41px;
height: 51px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_10 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_10 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_11 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_11 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_11 {
position: absolute;
top: 334px;
left: 688px;
width: 41px;
height: 51px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_11 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_11 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_12 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_12 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_12 {
position: absolute;
top: 275px;
left: 913px;
width: 41px;
height: 51px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_12 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_12 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_13 .shapert-clipping {
left: 0px;
top: 0px;
width: 41px;
height: 51px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_13 .content {
width: 41px;
height: 51px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Ellipse_13 {
position: absolute;
top: 356px;
left: 953px;
width: 41px;
height: 51px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_13 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_13 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_2 .shapert-clipping {
left: 208px;
top: 0px;
width: 179px;
height: 112px;
position: absolute;
overflow: hidden;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_2 .content {
width: 179px;
height: 112px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #s-Callout_2 {
position: absolute;
top: 292px;
left: 937px;
width: 388px;
height: 112px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Callout_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Callout_2 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 #shapewrapper-s-Callout_2 span#rtr-s-Callout_2_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d0174258-4c02-48d1-b3a1-9a0cb4c68f98 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}