#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
background-color: #1E01A5;
background-image: none;
position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
position: absolute;
top: 485px;
left: 957px;
width: 157px;
height: 34px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 6px 6px 6px 6px;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
position: absolute;
top: 386px;
left: 908px;
width: 212px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
position: absolute;
top: 433px;
left: 908px;
width: 212px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #C8C8C8;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C8C8C8;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C8C8C8;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #C8C8C8;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
position: absolute;
top: 286px;
left: 753px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 28.0pt;
font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 28.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 28.0pt;
line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}