#s-f040a0f6-7146-4615-8674-900439495fcf #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 {
-ms-transform: rotate(0.0deg);
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-f040a0f6-7146-4615-8674-900439495fcf > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}