#s-f040a0f6-7146-4615-8674-900439495fcf > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-f040a0f6-7146-4615-8674-900439495fcf > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Text_1 {
position: absolute;
top: 116px;
left: 420px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Text_1 span#rtr-s-Text_1_1 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 {
position: absolute;
top: 176px;
left: 420px;
width: 460px;
height: 110px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
color: #0000FF;
text-align: left;
text-decoration: underline;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f040a0f6-7146-4615-8674-900439495fcf #s-Image_1 {
position: absolute;
top: 366px;
left: 596px;
width: 100px;
height: 100px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-f040a0f6-7146-4615-8674-900439495fcf > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}