#s-f0526f86-a6f0-4581-9620-08904ae465a3 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Image_1 {
position: absolute;
top: 261px;
left: 414px;
width: 600px;
height: 391px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
cursor: pointer;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_1 {
position: absolute;
top: 133px;
left: 443px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_2 {
position: absolute;
top: 684px;
left: 537px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_2 span#rtr-s-Text_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Image_2 {
position: absolute;
top: 261px;
left: 833px;
width: 38px;
height: 43px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}