#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 #s-Text_2 {
-ms-transform: rotate(0.0deg);
}
#s-f0526f86-a6f0-4581-9620-08904ae465a3 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}