#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
filter: alpha(opacity=50) ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Paragraph_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Image_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_4 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_5 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_6 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}