#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Image_1 {
position: absolute;
top: 200px;
left: 470px;
width: 497px;
height: 541px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_1 {
position: absolute;
top: 131px;
left: 530px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_1 span#rtr-s-Text_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_2 {
position: absolute;
top: 755px;
left: 698px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_2 span#rtr-s-Text_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_1 {
position: absolute;
top: 830px;
left: 662px;
width: 102px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_1 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_1 span#rtr-s-Button_1_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_2 {
position: absolute;
top: 0px;
left: 0px;
width: 1436px;
height: 896px;
background-color: #000000;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
opacity: 0.5;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_2 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_1 {
position: absolute;
top: 227px;
left: 233px;
width: 924px;
height: 486px;
background-color: #FFFFFF;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_1 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_1 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_2 {
position: absolute;
top: 590px;
left: 508px;
width: 104px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_2 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_2 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_2 span#rtr-s-Button_2_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_3 {
position: absolute;
top: 270px;
left: 428px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 24.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_3 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Text_3 span#rtr-s-Text_3_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 24.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Paragraph_1 {
position: absolute;
top: 328px;
left: 306px;
width: 785px;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Paragraph_1 .valign {
vertical-align: top;
text-align: left;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Paragraph_1 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_3 {
position: absolute;
top: 590px;
left: 766px;
width: 104px;
height: 23px;
background-color: #FFFFFF;
background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CDCDCD;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #CDCDCD;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CDCDCD;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #CDCDCD;
border-radius: 4px 4px 4px 4px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_3 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_3 span {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Button_3 span#rtr-s-Button_3_0 {
color: #030303;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Image_2 {
position: absolute;
top: 363px;
left: 508px;
width: 337px;
height: 216px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_4 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 28px;
position: absolute;
overflow: hidden;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_4 .content {
width: 21px;
height: 28px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_4 {
position: absolute;
top: 363px;
left: 738px;
width: 21px;
height: 28px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_5 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 28px;
position: absolute;
overflow: hidden;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_5 .content {
width: 21px;
height: 28px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_5 {
position: absolute;
top: 363px;
left: 591px;
width: 21px;
height: 28px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_5 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_5 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_6 .shapert-clipping {
left: 0px;
top: 0px;
width: 21px;
height: 28px;
position: absolute;
overflow: hidden;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_6 .content {
width: 21px;
height: 28px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #s-Ellipse_6 {
position: absolute;
top: 363px;
left: 552px;
width: 21px;
height: 28px;
background-color: #999999;
background-image: none;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 18px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_6 .valign {
vertical-align: middle;
text-align: center;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_6 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-f8d40fe4-0f57-4280-a418-61cb5f123cb4 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}