#s-fef92202-45ae-41a3-923e-732515a19b9e #s-Rectangle_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-fef92202-45ae-41a3-923e-732515a19b9e #s-Text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-fef92202-45ae-41a3-923e-732515a19b9e #s-Paragraph_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-fef92202-45ae-41a3-923e-732515a19b9e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}