#s-fef92202-45ae-41a3-923e-732515a19b9e #s-Rectangle_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #404040;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #404040;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #404040;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #404040;
-ms-transform: rotate(0.0deg);
}
#s-fef92202-45ae-41a3-923e-732515a19b9e #s-Text_1 {
-ms-transform: rotate(0.0deg);
}
#s-fef92202-45ae-41a3-923e-732515a19b9e #s-Paragraph_1 {
-ms-transform: rotate(0.0deg);
}
#s-fef92202-45ae-41a3-923e-732515a19b9e > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}