#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 > #backgroundBox {
background-color: #FFFFFF;
background-image: none;
position: absolute;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_1 {
position: absolute;
top: 0px;
left: 42px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_1 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_1 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_2 {
position: absolute;
top: 0px;
left: 102px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_2 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_2 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_3 {
position: absolute;
top: 0px;
left: 222px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_3 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_3 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_4 {
position: absolute;
top: 0px;
left: 162px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_4 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_4 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_5 {
position: absolute;
top: 0px;
left: 462px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_5 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_5 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_5 span#rtr-t-Rectangle_5_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_6 {
position: absolute;
top: 0px;
left: 402px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_6 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_6 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_6 span#rtr-t-Rectangle_6_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_7 {
position: absolute;
top: 0px;
left: 342px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_7 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_7 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_7 span#rtr-t-Rectangle_7_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_8 {
position: absolute;
top: 0px;
left: 282px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_8 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_8 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_8 span#rtr-t-Rectangle_8_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_9 {
position: absolute;
top: 0px;
left: 942px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_9 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_9 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_9 span#rtr-t-Rectangle_9_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_10 {
position: absolute;
top: 0px;
left: 882px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_10 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_10 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_10 span#rtr-t-Rectangle_10_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_11 {
position: absolute;
top: 0px;
left: 822px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_11 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_11 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_11 span#rtr-t-Rectangle_11_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_12 {
position: absolute;
top: 0px;
left: 762px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_12 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_12 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_12 span#rtr-t-Rectangle_12_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_13 {
position: absolute;
top: 0px;
left: 702px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_13 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_13 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_13 span#rtr-t-Rectangle_13_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_14 {
position: absolute;
top: 0px;
left: 642px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_14 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_14 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_14 span#rtr-t-Rectangle_14_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_15 {
position: absolute;
top: 0px;
left: 582px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_15 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_15 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_15 span#rtr-t-Rectangle_15_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_16 {
position: absolute;
top: 0px;
left: 522px;
width: 40px;
height: 768px;
background-color: #FFE5E5;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 10.0pt;
font-family: Roboto-Regular,Arial;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_16 .valign {
vertical-align: middle;
text-align: left;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_16 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 #t-Rectangle_16 span#rtr-t-Rectangle_16_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#t-87db3cf7-6bd4-40c3-b29c-45680fb11462 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}