#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_1 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_2 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_3 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_5 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_6 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_7 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_8 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_9 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_10 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_11 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 #t-Rectangle_12 {
-ms-transform: rotate(0.0deg);
}
#t-e5f958a4-53ae-426e-8c05-2f7d8e00b762 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}