#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
background-color: #FFFFFF;
background-image: none;
position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1440px;
min-width: 1440px;
min-height: 900px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}